#title {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* min-width: 20vmin;
  min-height: 20vmin; */
  max-height: 50vmin;
  max-width: 50vmin;
  margin: auto;
  gap: 0.5vmin;
  aspect-ratio: 1/1;
}

.gridItem {
  max-width: 2.5vmin;
  height: 2.5vmin;
  aspect-ratio: 1 / 1;
  flex-grow: 1;
  border: 1px solid black;
  box-sizing: border-box;
}

.gridItem:hover {
  background-color: black;
}
